@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

html {
  font-family: "Cabin", sans-serif;
  font-weight: bolder;
  font-size: large;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 10px;
}

.nameButtonsf {
  background: rgb(245, 245, 195);
  border-radius: 8px;
  padding: 4px;
  margin: 1px auto;
  border: 2px solid white;
}

.nameButtonsm {
  background: rgb(210, 245, 210);
  border-radius: 8px;
  padding: 4px;
  margin: 1px auto;
  border: 2px solid white;
}

.searchBar {
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 4px;
  margin: 20px auto;
  display: block;
}

.favs {
  padding: 10px;
  color: lightblue;
  border-bottom: 2px solid lightblue;
}

.filterButtons {
  padding: 4px;
  margin: 20px auto;
  display: inline;
  margin-left: 46%;
  margin-right: 54%;
}

.boy {
  background: rgb(210, 245, 210);
  border-radius: 8px;
  font-size: x-large;
  margin: 2px;
  border: 4px solid white;
}

.girl {
  background: rgb(245, 245, 195);
  border-radius: 8px;
  font-size: x-large;
  margin: 2px;
  border: 4px solid white;
}

.all {
  background: lightblue;
  border-radius: 8px;
  font-size: x-large;
  margin: 2px;
  border: 4px solid white;
}
